/* Siftr Colors
------------------------------------------ */
$primary: #DFEFEF;
.primary { color: $primary }
$primary-dark: #82C2C2;
.primary-dark { color: $primary-dark }
$primary-light: #E9FCFC;
.primary-light { color: $primary-light }

/* Field Day Colors
------------------------------------------ */
$yellow: #E0BC4E;
.yellow { color: $yellow; }
$dark-yellow: #D6A718;
.dark-yellow { color: $dark-yellow; }
$blue: #06AED5;
.blue { color: $blue; }
$dark_blue: #086788;
.dark-blue { color: $dark_blue; }
$fd_blue: #2E31E0;
.fd_blue { color: $fd_blue; }
$blue-black: #1F2E3B;
.blue-black { color: $blue-black; }
$creme: #F6F6F3;
.creme { color: $creme; }


/* UI Colors
------------------------------------------ */
$neon: #97F6E1;
$red: #DD1C1A;
$light_red: #FCC9C2;
.red { color: $red; }
.light-red { color: $light_red; }
$ultralight_gray: #f5f5f5;
$light_gray: #CBCBCB;
$gray: #5A5F6A;
$dark_gray: #2B303B;
$black: #222830;
.ultralight-gray { color: $ultralight_gray; }
.light-gray { color: $light_gray; }
.gray { color: $gray; }
.dark-gray { color: $dark_gray; }
.black { color: $black; }
