.exif-1
{
}

.exif-2
{
     -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
       -o-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.exif-3
{
     -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
       -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.exif-4
{
     -moz-transform: rotate(180deg) scaleX(-1);
  -webkit-transform: rotate(180deg) scaleX(-1);
       -o-transform: rotate(180deg) scaleX(-1);
      -ms-transform: rotate(180deg) scaleX(-1);
          transform: rotate(180deg) scaleX(-1);
}

.exif-5
{
     -moz-transform: rotate(90deg) scaleY(-1);
  -webkit-transform: rotate(90deg) scaleY(-1);
       -o-transform: rotate(90deg) scaleY(-1);
      -ms-transform: rotate(90deg) scaleY(-1);
          transform: rotate(90deg) scaleY(-1);
}

.exif-6
{
     -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
       -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.exif-7
{
     -moz-transform: rotate(-90deg) scaleY(-1);
  -webkit-transform: rotate(-90deg) scaleY(-1);
       -o-transform: rotate(-90deg) scaleY(-1);
      -ms-transform: rotate(-90deg) scaleY(-1);
          transform: rotate(-90deg) scaleY(-1);
}

.exif-8
{
     -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
