$small-cluster-width: 30px;

.siftr-map-cluster {
  margin-left: -1 * ($small-cluster-width / 2);
  margin-top: -1 * ($small-cluster-width / 2);
  width: $small-cluster-width;
  height: $small-cluster-width;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  cursor: pointer;
  text-align: center;
  display: table;
  font-weight: bold;
  font-size: $small-cluster-width / 2;
  border-radius: $small-cluster-width / 2;
}

.siftr-map-cluster-number {
  display: table-cell;
  vertical-align: middle;
}

$small-pin-width: 20px;
$small-pin-radius: $small-pin-width * 0.6;

.siftr-map-note {
  position: relative;
}

.siftr-map-note-shadow {
  background-color: black;
  width: $small-pin-width / 2;
  height: $small-pin-width / 4;
  left: -1 * ($small-pin-width / 4);
  top: -1 * ($small-pin-width / 8);
  border-radius: $small-pin-width / 4;
  opacity: 0.4;
  box-shadow: 0px 0px 20px 10px black;
  position: absolute;
}

$sqrt2: 1.4142135;

.siftr-map-note-pin {
  position: absolute;
  top: -1 * ($small-pin-width * $sqrt2 * 0.95);
  left: -1 * ($small-pin-width * $sqrt2 * 0.45);
  width: $small-pin-width;
  height: $small-pin-width;
  background-color: blue;
  border: 2px solid white;
  cursor: pointer;
  border-radius: $small-pin-radius $small-pin-radius $small-pin-radius 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.siftr-map-note, .siftr-map-cluster {
  transition: all .1s ease-in-out;
}
.siftr-map-note.hybrid-hover, .siftr-map-cluster.hybrid-hover {
  transform: scale(1.6);
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
}

.siftr-map-legend {
  position: absolute;
  top: 130px;
  right: 0px;
  background-color: white;
  border-radius: 5px 0px 0px 5px;
  font-size: 13px;
  padding: 8px 12px;
  box-shadow: 0 9px 10px 0 rgba(18,129,155,0.06);
  width: 150px;
  max-height:60vh;
  .legendtoggle {
    position: absolute;
    left: -49px;
    top: 50%;
    transform: rotate(-90deg);
    background: #fff;
    padding: 10px;
    margin-top: -23px;
    border-radius: 3px;
    color: black;
    text-decoration: none;
  }
  .legend-wrap {
    height:100%;
    width:100%;
    overflow-y:scroll;
  }
  @media screen and (max-width: 840px) {
    max-width: none;
  }
}

.siftr-map-legend-tag {
  border-bottom: 1px solid #E8E8E8;
  display: block;
  padding: 7px 8px;
  &:last-child {
    border-bottom:none;
  }
  .siftr-thumbnail-dot {
    margin:0px 8px 0px 0px;
  }
  &:last-child {
    border-right: none;
  }
}
