@import 'sizes';
@import 'pane-mixins';

.auth-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.auth-contents {
  flex: 1;
  display: flex;
  flex-direction: column;
}

// top (global) nav bar

.auth-nav {
  background-color: white;
  padding-left: 7px;
  padding-right: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.auth-nav-side {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.auth-nav-side a {
  color: black;
  text-decoration: none;
  margin: 13px;
  &:hover {
    text-decoration: underline;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
}

.auth-nav-logo {
  height: 30px;
}

.auth-nav-user-pic {
  height: 30px;
  width: 30px;
  border-radius: 999px;
  margin: 10px;
  background-color: #333;
}

// siftr-specific nav bar

.siftr-view {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.siftr-view-nav {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  background-color: white;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  h2 {
    font-weight: normal;
    display: inline-block;
  }
}

.main-view-option {
  margin: 10px;
  img {
    height: 26px;
    padding: 3px;
  }
  &.option-off {
    opacity: 0.5;
  }
  &.option-on {
    background-color: rgb(223,239,239);
    border-radius: 5px;
  }
}

.main-view-option-separator {
  background-color: #D9EAEB;
  margin: 10px;
  width: 1px;
  height: 20px;
}

.siftr-view-nav-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  line-height: 0;
}

.siftr-view-nav-follow {
  a {
    padding: 3px 15px;
    border: 1px solid black;
    border-radius: 999px;
    color: black;
    text-decoration: none;
    &:hover { text-decoration: underline; }
    background-color: white;
    font-size: 13px;
  }
  padding-bottom: 12px;
}

.siftr-view-content {
  flex: 1;
  position: relative;
}

// organizing/positioning the siftr panels

// thumbnails go on top of map, unless we're only viewing map
.siftr-map                   { z-index: 1; @include full-pane; }
.siftr-thumbs                { z-index: 2; @include full-pane; }
.main-view-map .siftr-map    { z-index: 2; }
.main-view-map .siftr-thumbs { z-index: 1; }

.main-view-hybrid .siftr-thumbs {
  background-color: rgba(0,0,0,0) !important;
  @include left-pane;
}

.start-create-plus {
  position: absolute;
  right: 30px;
  top: 30px;
  text-decoration: none;
  img {
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    display: block;
  }
  z-index: 3;
  border-radius: 999px;
  margin: 0;
  padding: 0;
  background-color: #111;
  transition: transform 0.5s, background-color 0.5s;
  &.cancel-button {
    transform: rotate(45deg);
    background-color: rgb(253,125,111);
  }
}
