@import 'sizes';
@import 'pane-mixins';

.siftr-search {
  @include right-pane;
  height: 0;
  overflow-y: scroll;
  transition: height 0.25s;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 450px;
  h2 {
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    padding-left: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    .header-decoration {
      height: 2px;
      background-color: #ececec;
      flex: 1;
      margin-left: 10px;
    }
  }

  .tag-toggle {
    margin-left: 20px;
    border-bottom: 2px solid #ececec;
    padding-bottom: 13px;
  }
}

.search-open .siftr-search {
  height: 100%;
}

.activity-buttons {
  display: table;
  width: 100%;
  box-sizing: border-box;
  table-layout: fixed;
}
.activity-button {
  display: table-cell;
  border: 1px solid rgb(32,37,49);
  background-color: white;
  color: rgb(32,37,49);
  padding: 10px;
  text-decoration: none;
}
.activity-button.activity-on {
  background-color: rgb(32,37,49);
  color: white;
}
.activity-button:first-child {
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
}
.activity-button:last-child {
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}

.date-bounds {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

$slider-height: 3px;
$nub-diameter: 23px;

.time-slider {
  height: 3px;
  width: calc(100% - 50px);
  background-color: #888;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  position: relative;
}

.time-slider-nub {
  height: $nub-diameter;
  width: $nub-diameter;
  border-radius: 999px;
  background-color: white;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.8);
  position: absolute;
  top: -(($nub-diameter - $slider-height) / 2);
  cursor: pointer;
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.search-text {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 20px;
  border-radius: 999px;
  border: 1px solid #bbb;
}

.tag-badge {
  padding: 3px;
  border-radius: 999px;
  color: white;
}
