@import 'normalize';

$small-screen: "screen and (max-width: 949px)";
$large-screen: "screen and (min-width: 950px)";

body {
  font-family: 'Open Sans', sans-serif;
}

.siftr-map {
  width: 400px;
  height: 400px;
}

$small-cluster-width: 30px;

.siftr-map-cluster {
  margin-left: -1 * ($small-cluster-width / 2);
  margin-top: -1 * ($small-cluster-width / 2);
  width: $small-cluster-width;
  height: $small-cluster-width;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  cursor: pointer;
  text-align: center;
  display: table;
  font-weight: bold;
  font-size: $small-cluster-width / 2;
  border-radius: $small-cluster-width / 2;
}

.siftr-map-cluster-number {
  display: table-cell;
  vertical-align: middle;
}

$small-pin-width: 20px;
$small-pin-radius: $small-pin-width * 0.6;

.siftr-map-note {
  position: relative;
}

.siftr-map-note-shadow {
  background-color: black;
  width: $small-pin-width / 2;
  height: $small-pin-width / 4;
  left: -1 * ($small-pin-width / 4);
  top: -1 * ($small-pin-width / 8);
  border-radius: $small-pin-width / 4;
  opacity: 0.4;
  box-shadow: 0px 0px 20px 10px black;
  position: absolute;
}

$sqrt2: 1.4142135;

.siftr-map-note-pin {
  position: absolute;
  top: -1 * ($small-pin-width * $sqrt2 * 0.95);
  left: -1 * ($small-pin-width * $sqrt2 * 0.45);
  width: $small-pin-width;
  height: $small-pin-width;
  background-color: blue;
  border: 2px solid white;
  cursor: pointer;
  border-radius: $small-pin-radius $small-pin-radius $small-pin-radius 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.siftr-thumbs {
  text-align: center;
}
.siftr-thumbnail {
  background-size: cover;
  background-position: center;
  display: inline-block;
  margin: 4px;
  position: relative;
}
.siftr-thumbnail:after {
  // this makes the thumbnail box square
  content: "";
  display: block;
  padding-bottom: 100%;
}
@media #{$large-screen} {
  .primary-map .siftr-thumbnail {
    width: 45%;
    @media(min-width:1300px) {
      width: 31%;
    }
    @media(min-width:1600px) {
      width: 23%;
    }
    @media(min-width:2000px) {
      width: 18.5%;
    }
  }
  .primary-thumbs .siftr-thumbnail {
    width: 31%;
    @media(min-width:1200px) {
      width: 23%;
    }
    @media(min-width:1450px) {
      width: 18.5%;
    }
    @media(min-width:1750px) {
      width: 15.5%;
    }
  }
}
@media #{$small-screen} {
  .siftr-thumbnail {
    width: 45%;
    @media(min-width:550px) {
      width: 31%;
    }
    @media(min-width:700px) {
      width: 23%;
    }
  }
}

.siftr-thumbnail-dot {
  position: absolute;
  right: 4px;
  top: 4px;
  height: 15px;
  width: 15px;
  border-radius: 999px;
}

.date-bounds {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.time-slider {
  height: 10px;
  width: calc(100% - 50px);
  background-color: #888;
  margin-top: 10px;
  margin-left: 20px;
  position: relative;
}

.time-slider-nub {
  height: 20px;
  width: 20px;
  background-color: rgb(32,37,49);
  position: absolute;
  top: -5px;
  border-radius: 4px;
  cursor: pointer;
}

.upload-preview {
  width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.exif-1
{
}

.exif-2
{
     -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
       -o-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.exif-3
{
     -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
       -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.exif-4
{
     -moz-transform: rotate(180deg) scaleX(-1);
  -webkit-transform: rotate(180deg) scaleX(-1);
       -o-transform: rotate(180deg) scaleX(-1);
      -ms-transform: rotate(180deg) scaleX(-1);
          transform: rotate(180deg) scaleX(-1);
}

.exif-5
{
     -moz-transform: rotate(90deg) scaleY(-1);
  -webkit-transform: rotate(90deg) scaleY(-1);
       -o-transform: rotate(90deg) scaleY(-1);
      -ms-transform: rotate(90deg) scaleY(-1);
          transform: rotate(90deg) scaleY(-1);
}

.exif-6
{
     -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
       -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.exif-7
{
     -moz-transform: rotate(-90deg) scaleY(-1);
  -webkit-transform: rotate(-90deg) scaleY(-1);
       -o-transform: rotate(-90deg) scaleY(-1);
      -ms-transform: rotate(-90deg) scaleY(-1);
          transform: rotate(-90deg) scaleY(-1);
}

.exif-8
{
     -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

$auth-menu-width: 300px;

.auth-container
{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: left 0.25s;
  display: flex;
  flex-direction: column;
}

.auth-contents {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.auth-menu
{
  position: absolute;
  height: 100%;
  width: $auth-menu-width;
  left: -$auth-menu-width;
  top: 0;
  background-color: #bbb;
  padding: 10px;
  box-sizing: border-box;
}

.auth-container.auth-menu-open
{
  left: $auth-menu-width;
}

.auth-nav-button {
  margin-right: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.auth-nav {
  background-color: #224;
  padding-left: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #eee;
}

.siftr-view {
  display: flex;
  flex-direction: column;
  flex: 1;
  @media #{$small-screen} {
    flex-direction: column-reverse;
  }
}

.siftr-view-nav {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  background-color: rgb(44,48,59);
}

.siftr-view-nav-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  line-height: 0;
  @media #{$small-screen} {
    img { height: 65px; }
  }
}

.siftr-view-content {
  flex: 1;
  position: relative;
}

@mixin left-pane {
  background-color: white;
  height: 100%;
  position: absolute;
  @media #{$large-screen} {
    top: 0;
  }
  @media #{$small-screen} {
    bottom: 0;
  }
  left: 0;
  @media #{$large-screen} {
    width: 60%;
  }
  @media #{$small-screen} {
    width: 100%;
    z-index: 3; // this is overridden for map/thumbs below
  }
  overflow-y: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin right-pane {
  background-color: white;
  height: 100%;
  position: absolute;
  @media #{$large-screen} {
    top: 0;
  }
  @media #{$small-screen} {
    bottom: 0;
  }
  right: 0;
  @media #{$large-screen} {
    width: 40%;
  }
  @media #{$small-screen} {
    width: 100%;
    z-index: 3; // this is overridden for map/thumbs below
  }
  overflow-y: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// on desktop, the primary pane is larger and to the left of the secondary pane
.primary-map .siftr-map {
  @include left-pane;
}
.primary-thumbs .siftr-map {
  @include right-pane;
}
.primary-thumbs .siftr-thumbs {
  @include left-pane;
}
.primary-map .siftr-thumbs {
  @include right-pane;
}
@media #{$small-screen} {
  // on mobile, the primary pane goes on top of the secondary pane
  .primary-map    .siftr-map    { z-index: 2; }
  .primary-thumbs .siftr-thumbs { z-index: 2; }
  .primary-map    .siftr-thumbs { z-index: 1; }
  .primary-thumbs .siftr-map    { z-index: 1; }
}

.siftr-search {
  @include right-pane;
  height: 0;
  overflow-y: scroll;
  transition: height 0.25s;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  h2 {
    font-size: 18px;
  }
  hr {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.search-open .siftr-search {
  height: 100%;
}

.search-text {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 20px;
  border-radius: 999px;
  border: 1px solid #bbb;
}

.search-tag {
  margin: 5px;
  padding: 5px;
  border: 1px solid gray;
  color: gray;
  background-color: white;
  border-radius: 5px;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
}
.search-tag.search-tag-on {
  background-color: gray;
  color: white;
}

.note-view {
  @include right-pane;
}

.note-top {
  display: flex;
  margin: 0;
  padding: 12px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.note-credit {
  margin: 0;
  font-size: 16px;
}

.note-x {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.note-photo {
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

.note-actions {
  background-color: rgb(97,201,226);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 5px;
  box-sizing: border-box;
}

.note-action {
  margin: 5px;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.note-caption {
  padding: 0 10px;
}

.note-comments {
  padding: 0 10px;
}

.note-comment {
  border: 1px solid #89c;
  background-color: #e8ebf5;
  padding: 0 10px;
  margin: 10px 0;
}

.note-comment textarea {
  width: 100%;
  height: 90px;
  resize: none;
  box-sizing: border-box;
}

.note-comment-credit {
  font-size: 13px;
}

.note-comment-action {
  vertical-align: middle;
  margin-left: 6px;
}

.create-step-1 {
  @include right-pane;
}
.create-step-2, .create-step-3, .create-step-4 {
  @include left-pane;
}
.create-step-2, .create-step-3, .create-step-4 {
  // cover bottom of map
  // note: sass is dumb. this has to be separate from from the left-pane decl
  // or the media query parts of left-pane will be moved after these decls.
  height: initial;
  top: initial;
  bottom: 0;
}

.create-step-1, .create-step-2 {
  display: flex;
  flex-direction: column;
}

.create-content {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
}

.create-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px;
  box-sizing: border-box;
}

.create-button-blue, .create-button-gray {
  padding: 8px 20px;
  text-decoration: none;
  color: white;
}
.create-button-blue { background-color: rgb(97,201,226); }
.create-button-gray { background-color: #cfcbcc; }

.create-caption-box {
  flex: 1;
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}

.create-caption {
  margin-right: 8px;
  height: 80px;
  flex: 1;
  resize: none;
}

.create-content-center {
  text-align: center;
  padding: 15px;
}

.create-float-x {
  float: right;
}

.activity-buttons {
  display: table;
  width: 100%;
  box-sizing: border-box;
  table-layout: fixed;
}
.activity-button {
  display: table-cell;
  border: 1px solid rgb(32,37,49);
  background-color: white;
  color: rgb(32,37,49);
  padding: 10px;
  text-decoration: none;
}
.activity-button.activity-on {
  background-color: rgb(32,37,49);
  color: white;
}
.activity-button:first-child {
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
}
.activity-button:last-child {
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}

.file-form {
  position: fixed;
  left: 9999px;
}
