@import 'normalize';

body {
  font-family: 'Open Sans', sans-serif;
}

.siftr-map {
  width: 400px;
  height: 400px;
}

$small-cluster-width: 30px;

.siftr-map-cluster {
  margin-left: -1 * ($small-cluster-width / 2);
  margin-top: -1 * ($small-cluster-width / 2);
  width: $small-cluster-width;
  height: $small-cluster-width;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  cursor: pointer;
  text-align: center;
  display: table;
  font-weight: bold;
  font-size: $small-cluster-width / 2;
  border-radius: $small-cluster-width / 2;
}

.siftr-map-cluster-number {
  display: table-cell;
  vertical-align: middle;
}

$small-pin-width: 20px;
$small-pin-radius: $small-pin-width * 0.6;

.siftr-map-note {
  position: relative;
}

.siftr-map-note-shadow {
  background-color: black;
  width: $small-pin-width / 2;
  height: $small-pin-width / 4;
  left: -1 * ($small-pin-width / 4);
  top: -1 * ($small-pin-width / 8);
  border-radius: $small-pin-width / 4;
  opacity: 0.4;
  box-shadow: 0px 0px 20px 10px black;
  position: absolute;
}

$sqrt2: 1.4142135;

.siftr-map-note-pin {
  position: absolute;
  top: -1 * ($small-pin-width * $sqrt2 * 0.95);
  left: -1 * ($small-pin-width * $sqrt2 * 0.45);
  width: $small-pin-width;
  height: $small-pin-width;
  background-color: blue;
  border: 2px solid white;
  cursor: pointer;
  border-radius: $small-pin-radius $small-pin-radius $small-pin-radius 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.siftr-thumbnail {
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 150px;
  display: inline-block;
  margin: 4px;
  position: relative;
}

.siftr-thumbnail-dot {
  position: absolute;
  right: 4px;
  top: 4px;
  height: 15px;
  width: 15px;
  border-radius: 999px;
}

.time-slider {
  height: 10px;
  width: calc(100% - 50px);
  background-color: #888;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  position: relative;
}

.time-slider-nub {
  height: 20px;
  width: 20px;
  background-color: rgb(32,37,49);
  position: absolute;
  top: -5px;
  border-radius: 4px;
  cursor: pointer;
}

.upload-preview {
  width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.exif-1
{
}

.exif-2
{
     -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
       -o-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.exif-3
{
     -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
       -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.exif-4
{
     -moz-transform: rotate(180deg) scaleX(-1);
  -webkit-transform: rotate(180deg) scaleX(-1);
       -o-transform: rotate(180deg) scaleX(-1);
      -ms-transform: rotate(180deg) scaleX(-1);
          transform: rotate(180deg) scaleX(-1);
}

.exif-5
{
     -moz-transform: rotate(90deg) scaleY(-1);
  -webkit-transform: rotate(90deg) scaleY(-1);
       -o-transform: rotate(90deg) scaleY(-1);
      -ms-transform: rotate(90deg) scaleY(-1);
          transform: rotate(90deg) scaleY(-1);
}

.exif-6
{
     -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
       -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.exif-7
{
     -moz-transform: rotate(-90deg) scaleY(-1);
  -webkit-transform: rotate(-90deg) scaleY(-1);
       -o-transform: rotate(-90deg) scaleY(-1);
      -ms-transform: rotate(-90deg) scaleY(-1);
          transform: rotate(-90deg) scaleY(-1);
}

.exif-8
{
     -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

$auth-menu-width: 300px;

.auth-container
{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: left 0.25s;
  display: flex;
  flex-direction: column;
}

.auth-contents {
  flex: 1;
  display: flex;
}

.auth-menu
{
  position: absolute;
  height: 100%;
  width: $auth-menu-width;
  left: -$auth-menu-width;
  top: 0;
  background-color: #bbb;
  padding: 10px;
  box-sizing: border-box;
}

.auth-container.auth-menu-open
{
  left: $auth-menu-width;
}

.auth-nav-button {
  font-size: 27px;
  color: black;
  text-decoration: none;
  margin-right: 5px;
}

.auth-nav {
  background-color: #888;
  padding-left: 7px;
}

.auth-nav > * {
  vertical-align: middle;
}

.siftr-view {
  display: flex;
  flex-direction: column;
  flex: 1
}

.siftr-view-nav {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  background-color: rgb(44,48,59);
}

.siftr-view-nav-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  line-height: 0;
}

.siftr-view-content {
  flex: 1;
  position: relative;
}

@mixin left-pane {
  background-color: white;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  @media screen and (min-width: 950px) {
    width: 60%;
  }
  @media screen and (max-width: 949px) {
    width: 100%;
    z-index: 3;
  }
  overflow-y: auto;
}
@mixin right-pane {
  background-color: white;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  @media screen and (min-width: 950px) {
    width: 40%;
  }
  @media screen and (max-width: 949px) {
    width: 100%;
    z-index: 3;
  }
  overflow-y: auto;
}

.primary-map .siftr-map {
  @include left-pane;
}
.primary-thumbs .siftr-map {
  @include right-pane;
}
.primary-thumbs .siftr-thumbs {
  @include left-pane;
}
.primary-map .siftr-thumbs {
  @include right-pane;
}
@media screen and (max-width: 949px) {
  .primary-map    .siftr-map    { z-index: 2; }
  .primary-thumbs .siftr-thumbs { z-index: 2; }
  .primary-map    .siftr-thumbs { z-index: 1; }
  .primary-thumbs .siftr-map    { z-index: 1; }
}

.siftr-search {
  @include right-pane;
  height: 0;
  overflow: hidden;
  transition: height 0.25s;
}

.search-open .siftr-search {
  height: 100%;
}

.note-view {
  @include right-pane;
}

.note-photo {
  width: 100%;
}
