body {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.7px;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.auth-nav, .siftr-view-nav {
  font-family: 'Varela Round', sans-serif;
}
