<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129008337561-etteh38o6al492q1l1t4o35fhqdkr86k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129008337561-etteh38o6al492q1l1t4o35fhqdkr86k</string>
	<key>API_KEY</key>
	<string>AIzaSyBcO6M0Vsjc4P64UzltEkrzJXV17eYyeeg</string>
	<key>GCM_SENDER_ID</key>
	<string>129008337561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.fielddaylab.stemports</string>
	<key>PROJECT_ID</key>
	<string>stemports</string>
	<key>STORAGE_BUCKET</key>
	<string>stemports.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:129008337561:ios:8edf37570a65181bb66e08</string>
	<key>DATABASE_URL</key>
	<string>https://stemports.firebaseio.com</string>
</dict>
</plist>
